<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Node APP</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script type="text/javascript"> src="index.js"</script>

</head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.page-header{
  text-align: center;
  font-size: 18px;

}
.well{
  height: 100px;
}
</style>

<body>
<div class="well">
    <h1 class="page-header"><strong>MongoDb Implementation using NodeJS</strong></h1>
</div>

  <div class="form-class clearfix">

    <form action="/quotes" method="POST">

      <div class="form-group col-md-1">
       <input type="text" class="form-control" placeholder="id" name="id">
      </div>

      <div class="form-group col-md-5">
       <input type="text" class="form-control" placeholder="name" name="name">
      </div>

      <div class="form-group col-md-5">
       <input type="text" class="form-control" placeholder="quote" name="quote">
      </div>

      <div class="form-group col-md-1 button-field">                   
        <button class="btn btn-block btn-primary delete-button"submit">Submit</button>
      </div> 

    </form>
  </div>

  <ul class="quote">
        <table class="quotes">

          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quote</th>
          </tr>

          <% for(var i=0; i<quotes.length; i++) {%>

            <tr>
              <td><%= quotes[i].id %></td>
              <td><%= quotes[i].name %></td>
              <td><%= quotes[i].quote %></td>
              <td><button class="delete-button" value=<%= quotes[i].id %>>Delete</button></td>
            </tr>

          <% } %>

        </table>

  </ul>

  <script type="text/javascript">

      $(".delete-button").click(function(){
            var id = $(this).val();
            $.ajax({
                url: "http://localhost:3000/deleteUser/" + id
              }).done(function() {
                $( this ).addClass( "done" );
              });
      });

</script>

</body>

</html>
